$theme-colors: (
  "primary": #00285f,
  "secondary": #f78b00,
  "light": #ededed,
);

$body-bg: #e5e5e5;
$body-color: #000000;
$navbar-light-toggler-border-color: #f78b00;
$navbar-light-color: #00285f;
$enable-negative-margins: true;

@import "~bootstrap/scss/bootstrap.scss";
